<app-menu></app-menu>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="contact" class="contact-area">
  <div class="container">
    <div class="section-title text-center">
      <br>
      <h1>Inserisci il tuo annuncio in pochi minuti</h1>

    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="contact">
          <form [formGroup]="form" #InputsAnnuncio='ngForm' class="form" name="enq" method="post" (ngSubmit)="creaAnnuncio(InputsAnnuncio.value)">
            <div class="row">
              <div class="form-group col-md-6">

                <input type="text" name="gioiello" class="form-control" placeholder="Nome"
                       formControlName="gioiello"
                       required="required">
              </div>

              <div class="form-group prezzo">
                <input type="text" name="prezzo" class="form-control" placeholder="Prezzo € "
                       formControlName="prezzo" required="required">
              </div>
              <div class="form-group descrizione">
                <textarea rows="6" name="descrizione" class="form-control" placeholder="Descrizione annuncio"
                          formControlName="descrizione" required="required"></textarea>
              </div>
              <div class="buttonCreaAnnunncio text-center">
                <button [disabled]="!form.valid" type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">Crea Annuncio</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--- END COL -->

    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</div>
