<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
  <!-- product -->
  <div class="product-content product-wrap clearfix product-deatil">
    <div class="row">
      <div class="product-image col-md-5 col-sm-12 col-xs-12">
          <img src="https://www.bootdey.com/image/700x400/FFB6C1/000000" class="img-responsive" alt="" />
      </div>

      <div class="column col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class ="name">
          Product Name Title Here
        </h2>
        <hr />
        <h3 class="price-container font-size-lg text-primary pt-2">
          $129.54
        </h3>
        <hr />
        <div class="description description-tabs">
          <strong>Description Title</strong>
          <p class =descriptionContent>
            Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum pellentesque augue
            sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur nec.
          </p>
        </div>
        <hr />
        <div class="row">
          <div class="contatta col-sm-12 col-md-6 col-lg-6">
            <a href="javascript:void(0);" class="btn btn-success btn-lg "><i class="fa fa-envelope"></i> Contatta </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end product -->
</div>


