<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home"></i> Diyamonds <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div>
      <button *ngIf="!loggedIn" class="btn btn-outline-danger btn-lg btn-block" type="submit" routerLink="/login">
        Accedi o Registrati
      </button>
    </div>
    <div>
      <button *ngIf="loggedIn" class="btn btn-outline-danger btn-lg btn-block" type="submit" (click)="goToCreazioneAnnuncio()">
        Inserisci Annuncio
      </button>
    </div>
    <div>
      <button *ngIf="loggedIn" class="btn btn-outline-danger btn-lg btn-block" type="submit" (click)="goToVisualizzaProfilo()">
        Il tuo profilo
      </button>
    </div>
    <div>
      <button *ngIf="loggedIn" class="btn btn-outline-danger btn-lg btn-block" type="submit" (click)="logOut()">
        Esci
      </button>
    </div>
  </div>
</nav>