<app-menu></app-menu>
<br><br>
<mat-card>
    <form class="example-form" align="center">
        <mat-form-field class="example-full-width">
          <mat-label>Cosa cerchi ?</mat-label>
          <input matInput placeholder="Ex. Gioiello">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>In quale categoria?</mat-label>
            <mat-select>
                <mat-option value="gioiello">Gioiello</mat-option>
                <mat-option value="materiaPrima">Materia Prima</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Dove ?</mat-label>
            <input matInput placeholder="Ex. Torino">
          </mat-form-field>
        <button (click) = "CercaAnnuncio()"

          mat-button color="primary">Cerca</button>


    </form>
    <div class="InserisciAnnuncio"  routerLink="/creazioneAnnuncio">

      <div class="AddSymbol">
        <svg  class="filter-green" width="24" height="24" xmlns="http://www.w3.org/2000/svg">

          <path d="M8 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8zm0-2h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zm5 8h3a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3H8a1 1 0 0 1 0-2h3V8a1 1 0 0 1 2 0v3z">

          </path>
        </svg>
      </div>
      <span class="index-module_sbt-text-atom__ed5J9 index-module_token-button__eMeQT size-normal index-module_weight-semibold__MWtJJ">Inserisci annuncio</span>

    </div>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
    <h2 align="center"> Esplora le nostre sezioni</h2>
    <mat-tab-group>
        <mat-tab label="TabGioiello">
            <mat-action-list>
                <button mat-list-item  *ngFor ="let gioiello of gioielli"> {{gioiello.viewValue}}</button>
            </mat-action-list>
        </mat-tab>
        <mat-tab label="TabMateriaPrima">
            <mat-action-list>
                <button mat-list-item *ngFor ="let matPrima of materiaPrima"> {{matPrima.viewValue}}</button>

            </mat-action-list>
        </mat-tab>
      </mat-tab-group>

</mat-card>


<div class="container pb-5 mt-n2 mt-md-n3">
  <div class="row">
    <div class="col-xl-9 col-md-8">

      <!-- Item-->
      <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom" *ngFor = "let annuncio of annunci">
        <div class="media d-block d-sm-flex text-center text-sm-left">
          <a a routerLink="/annuncio/{{annuncio.id}}" class="cart-item-thumb mx-auto mr-sm-4" ><img src="/assets/images/gioiello1.jpg" alt="Product"></a>
          <div class="media-body pt-3">
            <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a routerLink="/annuncio/{{annuncio.id}}">{{ annuncio.gioiello }}</a></h3>
            <div class="font-size-sm"><span class="text-muted mr-2">Descrizione: </span>  {{ annuncio.descrizione }}</div>
            <div class="font-size-lg text-primary pt-2">{{ annuncio.prezzo }} € </div>
          </div>
        </div>

      </div>

    </div>
    <!-- Sidebar-->

  </div>
</div>
