<app-menu></app-menu>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class ="HomeContainer">
  <br><br>





  <div class=" w3-container w3-content w3-center w3-padding-8" style="max-width:800px">

  <h2 class="w3-wide" >Welcome in Diyamonds Homepage ! </h2>


  <c-carousel  class ="carousel-container">

    <c-carousel-inner class="carousel-inner">
      <c-carousel-item class ="carosul-item" *ngFor="let slide of slides">
        <img class ="carousel-img"
             [src]="slide.src"
             loading="lazy"
        />

        <c-carousel-caption class="carousel-tile d-none d-md-block">
          <h3>{{slide.title}}</h3>

        </c-carousel-caption>

      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>

  <br><br>
  <mat-card>
    <form class="example-form" align="center">
      <mat-form-field class="example-full-width">
        <mat-label>Cosa cerchi ?</mat-label>
        <input matInput placeholder="Ex. Gioiello" [(ngModel)]="searchTerm"
               [ngModelOptions]=" {standalone: true}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>In quale categoria?</mat-label>
        <mat-select (selectionChange)="selectedValue($event)">
          <mat-option value="gioiello">Gioiello</mat-option>
          <mat-option value="materiaPrima">Materia Prima</mat-option>
        </mat-select>
      </mat-form-field>
      <!--
      <mat-form-field class="example-full-width">
        <mat-label>Dove ?</mat-label>
        <input matInput placeholder="Ex. Torino">
      </mat-form-field>
      //-->
      <button (click) = "search(searchTerm)" mat-button color="primary">Cerca</button>


    </form>
    <button class="InserisciAnnuncio" (click)="goToCreazioneAnnuncio()">

      <div class="AddSymbol">
        <svg  class="filter-green" width="24" height="24" xmlns="http://www.w3.org/2000/svg">

          <path d="M8 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8zm0-2h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zm5 8h3a1 1 0 0 1 0 2h-3v3a1 1 0 0 1-2 0v-3H8a1 1 0 0 1 0-2h3V8a1 1 0 0 1 2 0v3z">

          </path>
        </svg>
      </div>
      <span class="index-module_sbt-text-atom__ed5J9 index-module_token-button__eMeQT size-normal index-module_weight-semibold__MWtJJ">Inserisci annuncio</span>

    </button>


  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>




  <div class="container pb-5 mt-n2 mt-md-n3">
    <div class="row">
      <div class="col-xl-9 col-md-8">

        <!-- Item-->
        <ng-container *ngIf="isMateriaPrimaSelected == true">
        <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom"
              *ngFor = "let annuncio of annunciFilteredMateriaPrima ">
          <div class="media d-block d-sm-flex text-center text-sm-left">
            <a a routerLink="/annuncio/{{annuncio.id}}" class="cart-item-thumb mx-auto mr-sm-4" ><img src="/assets/images/materiaPrima.jpg" alt="Product"></a>
            <div class="media-body pt-3">
              <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a routerLink="/annuncioMateriaPrima/{{annuncio.id}}">{{ annuncio.materiaPrima }}</a></h3>
              <div class="font-size-sm"><span class="text-muted mr-2">Descrizione: </span>  {{ annuncio.descrizione }}</div>
              <div class="font-size-lg text-primary pt-2">{{ annuncio.prezzo }} € </div>
            </div>
          </div>

        </div>
        </ng-container>

        <ng-container *ngIf="isMateriaPrimaSelected == false ">
          <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom"
               *ngFor = "let annuncio of annunciFiltered ">
            <div class="media d-block d-sm-flex text-center text-sm-left">
              <a a routerLink="/annuncio/{{annuncio.id}}" class="cart-item-thumb mx-auto mr-sm-4" ><img src="/assets/images/gioiello1.jpg" alt="Product"></a>
              <div class="media-body pt-3">
                <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a routerLink="/annuncio/{{annuncio.id}}">{{ annuncio.gioiello }}</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Descrizione: </span>  {{ annuncio.descrizione }}</div>
                <div class="font-size-lg text-primary pt-2">{{ annuncio.prezzo }} € </div>
              </div>
            </div>

          </div>
        </ng-container>

      </div>
      <!-- Sidebar-->

    </div>
  </div>
</mat-card>


</div>





<br><br>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-dark-gray w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium"> Diyamonds </p>
</footer>









