body{margin-top:20px;}
.cart-item-thumb {
  display: block;
  width: 10rem
}

.cart-item-thumb>img {
  display: block;
  width: 100%
}

.product-card-title>a {
  color: #222;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.product-card-title {
  display: block;
  margin-bottom: .75rem;
  padding-bottom: .875rem;
  border-bottom: 1px dashed #e2e2e2;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 20px;
}

.text-muted {
  color: #888 !important;
}

.bg-secondary {
  background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
}
.font-weight-semibold {
  font-weight: 600 !important;
}

.justify-content-between{

  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}


