<app-menu></app-menu>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="{{photo}}" alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <label class="mb-1">{{user.name}}</label>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{user.email}}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Tipo</p>
                      <p class="mb-0">{{tipoUtente}}</p>
                    </div>
                    <div>
                        <p class="small text-muted mb-1">Annunci Inseriti</p>
                        <span><p class="mb-0">{{numeroAnnunci}}</p></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex pt-1" *ngIf="check == true ">
                <div class="col-xl-9 col-md-8">
            
                    
                    <!-- Item-->
                    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom" *ngFor = "let annuncio of listaAnnunci">
                      <div class="media d-block d-sm-flex text-center text-sm-left">
                        <a a routerLink="/annuncio/{{annuncio.id}}" class="cart-item-thumb mx-auto mr-sm-4" ><img src="/assets/images/gioiello1.jpg" alt="Product"></a>
                        <div class="media-body pt-3">
                          <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a routerLink="/annuncio/{{annuncio.id}}">{{ annuncio.gioiello }}</a></h3>
                          <div class="font-size-sm"><span class="text-muted mr-2">Descrizione: </span>  {{ annuncio.descrizione }}</div>
                          <div class="font-size-lg text-primary pt-2">{{ annuncio.prezzo }} € </div>
                        </div>
                      </div>
              
                    </div>
              
                  </div>
              </div>
            
              <div class="d-flex pt-1" *ngIf="check == false ">
                <div class="col-xl-9 col-md-8">
                    <!-- Item-->
                    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom" *ngFor = "let annuncio of listaAnnunciFornitore">
                      <div class="media d-block d-sm-flex text-center text-sm-left">
                        <a a routerLink="/annuncio/{{annuncio.id}}" class="cart-item-thumb mx-auto mr-sm-4" ><img src="/assets/images/gioiello1.jpg" alt="Product"></a>
                        <div class="media-body pt-3">
                          <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a routerLink="/annuncio/{{annuncio.id}}">{{ annuncio.materiaPrima }}</a></h3>
                          <div class="font-size-sm"><span class="text-muted mr-2">Descrizione: </span>  {{ annuncio.descrizione }}</div>
                          <div class="font-size-lg text-primary pt-2">{{ annuncio.prezzo }} € </div>
                        </div>
                      </div>
              
                    </div>
              
                  </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>


    
  </section>

  